auto lo
iface lo inet loopback

auto bond0
iface bond0 inet static
address {{address}}
gateway {{gateway}}
netmask {{netmask}}
dns-nameservers {{dns_nameservers}}
bond-mode 4
bond-miimon 100
bond-lacp-rate 1
  bond-slaves {{ physical_interfaces | join(' ') }}

{% for item in physical_interfaces %}
auto {{ item }}
iface {{ item }} inet manual
bond-master bond0
{% endfor %}
