auto lo
iface {{ bridge_ports }} inet dhcp
auto br0
iface br0 inet static
bridge_ports {{ bridge_ports }}
bridge_stp off
address {{ ansible_default_ipv4.address }}
network {{ ansible_default_ipv4.network }}
netmask {{ ansible_default_ipv4.netmask }}
broadcast {{ ansible_default_ipv4.broadcast }}
gateway {{ ansible_default_ipv4.gateway }}
dns-nameservers {{ ansible_default_ipv4.gateway }}
